.catagories {
  margin: 0.5rem 0;
  font-weight: 700;
}
.catagories:hover {
  cursor: pointer;
  animation: select-up 0.5s ease-in-out forwards;
}
.linkBtn {
  width: 100%;
  padding: 0;
  color: blueviolet;
}
.post {
  margin: 1rem;
}
.postImg {
  border-radius: 50%;
}
.categoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--secondary-light);
  width: 80%;
  font-size: 1.5rem;
  /* height: auto; */
  border-radius: 15px;
  padding: 2rem;
  margin: 2rem;
}
.title {
  width: 100%;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--secondary-text-dark);
}
@keyframes select-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}
