.post {
  width: 80%;
}
.postDetailContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: lightgray;
  width: 100%;
  height: 100vh;
}
.widgets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
